<div class="AgendaRapido___container_body">
<mat-toolbar color="primary" class="AgendaRapido___toolbar">
  <button  mat-icon-button color="dark" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/">Agenda Rápido</h1>
</mat-toolbar>
<mat-sidenav-container class="AgendaRapido___side-nav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <h1 mat-subheader>Cadastros</h1>
      <a class="link" mat-list-item routerLink="/categories"  (click)="sidenav.toggle()">
        <mat-icon>bookmark</mat-icon>
        Categorias</a>
      <a mat-list-item>
        <mat-icon>local_hospital</mat-icon>
        Exames</a>
      <a mat-list-item>
        <mat-icon>business</mat-icon>
        Instituições</a>

      <h1 mat-subheader>Pessoas</h1>
      <a mat-list-item>
        <mat-icon>how_to_reg</mat-icon>
        Clientes</a>

      <h1 mat-subheader>Segurança</h1>
      <a mat-list-item>
        <mat-icon>supervisor_account</mat-icon>
        Usuários</a>

      <h1 mat-subheader>Gerenciamento</h1>
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        Pedidos</a>

      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ngx-spinner></ngx-spinner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>